body{
    font-family: Josefin Sans;
    background-color: lightseagreen;
}
#img1{
    border-radius: 40%;
    width: 50px;
    height: 50px;
}
ul{
    list-style-type: none;
    float: right; 
    margin-top: 30px;
    
  
  }
li {
    display: inline-block;
   margin-right: 15px;
}
a:link , a:visited{
    text-decoration: none;
    color:black;
    border: lightblue solid 2px;
    border-radius: 15px;
    background-color: burlywood;
    padding:15px;
   
}
a:hover , a:active{
    border:solid burlywood 4px;
    border-radius: 15px;
    background-color: lightblue;
    padding:15px;
    text-decoration: none;
    
}
h1{
    ;
    text-align: center;
    background-color: burlywood;
    padding:8px;
    border-top: solid 5px lightblue;
}
#imgMain{
    margin:auto;
    margin-bottom: 50px;
    display: block;
    border-radius: 50%;
    height: 250px;
    width:250px;
}
td{
    border: solid burlywood 2px;
    padding: 10px;
    width: 80px;
}
table{
    border-collapse: collapse;
    float:right;
    

}
#img2{
    margin-right: 20px;
    width: 150px;
    height: 150px;
    border-radius: 25%;
}
#img3{
    margin-right: 20px;
    width: 150px;
    height: 150px;
    border-radius: 25%
}
#img4{
    width: 150px;
    height: 150px;
    border-radius: 25%
}
#nav2{
    margin-top: 40px;
    float:right;
}
p{
    margin-top:40px;
}
